:root{
  /* primary */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /* neutral */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  --ff: 'League Spartan', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* CSS reset */
*, *::after, *::before {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
img, canvas, picture, video, svg{
  display: block;
  max-width: 100%;
}
p, h1, h2, h3, h4, h5, h6{
  overflow-wrap: break-word;
}
button, select, textarea, input{
  font: inherit;
}
body{
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: var(--ff);
  background-image: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
@media (max-width: 375px) {
  body{
    background-image: url('images/bg-pattern-top-mobile.svg'), url('images/bg-pattern-bottom-mobile.svg');
  }
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main{
  padding: 1.5rem;
  display: grid;
  gap: 4rem;
}
@media (min-width: 800px) {
  main{
    padding:  7.25rem  10rem;
  }
}
.ratings{
  display: grid;
  gap: 4rem;
}
h1{
  font-size: 3.36rem;
  line-height: .9;
  color: var(--Very-Dark-Magenta)
}
.heading{
  display: grid;
  gap: 1.5rem;
  text-align: center;
}
aside{
  
  display: grid;
  gap: 1rem;
}
.heading__p{
  color: var(--Dark-Grayish-Magenta);
  font-size: 1.1rem;
}
.star{
  width: 17px;
  height: 16px;
  background: url('images/icon-star.svg') no-repeat;
}
.stars{
  display: flex;
  gap: .5rem;
}

.rating{
  padding: 1rem 0;
  background-color: var(--Light-Grayish-Magenta);
  display: grid;
  gap: 1rem;
  place-items: center;
  width: min(100%, 435px);
  color: var(--Very-Dark-Magenta);
  font-weight: var(--fw-bold);
}
@media (min-width: 800px) {
  .ratings{
    grid-template-columns: 4.6fr 6fr;

  }
  
  .heading{
    text-align: left;
  }
  .rating{
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
  }
  .rating-0{
    margin-left: 2rem;
  }
  .rating-1{
    margin-left: 2rem;
    justify-self: center; 
  }
  .rating-2{
    justify-self: right;
  }
  aside{
    padding: 2rem 0;
  }
 
}
.rating-0, .rating-1, .rating-2{
  border-radius: .5rem;
}
article{
  padding: 1.85rem;
  display: grid;
  gap: 1.75rem;
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  font-size: 1.1rem;
  border-radius: .5rem;
}
.top-section{
  display: flex;
  --align-items: center;
  gap: 1.2rem;
  font-size: 1rem;
  
}
h3{
  font-weight: var(--fw-regular);
}
.profile{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}
.verified{
  color: var(--Soft-Pink)
}
.comment{
  display: grid;
  gap: 1.95rem; 
}
@media (min-width: 800px) {
  .comment{
    grid-template-columns: repeat(3, 1fr);
  }
}
.anne{
  margin-top: 1.75rem;
}
.robert{
  margin: auto;
}
.smith{
  align-self: baseline;
}
.top-section__profile{
  line-height: 1.2;
}
.bottom-section{
  font-size: 1.05rem;
}